<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Swagin vujut</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>

<body v-cloak>
    <h1>Swagin vujut</h1>
    <div v-if="formTimer.timestamp < formTimer.openTimestamp">
        <p>Ilmo ei ole vielä auki</p>
    </div>
    <div v-else-if="formTimer.timestamp > formTimer.closeTimestamp">
        <p>Ilmo on päättynyt</p>
    </div>
    <div v-else-if="registered.entries == null || registered.entries.length >= registered.capacity">
        <p>Ilmo on täynnä</p>
    </div>
    <div v-else>
        <form @submit.prevent="send">
            <label >Nimi:</label><br>
            <input v-model="form.name" placeholder="Nimi" required /><br>

            <label >Sähköpostiosoite:</label><br>
            <input type="email" v-model="form.email" placeholder="Sähköpostiosoite" required /><br>

            <label >Edustava taho/joukkue:</label><br>
            <input v-model="form.group" placeholder="Edustava taho/joukkue" required /><br>

            <label >Haluatko tuoda tervehdyksen:</label><br>

            <input type="radio" name="greeting" id="Kyllä" value="Kyllä" v-model="form.greeting" required />
            <label for="Kyllä">Kyllä</label>

            <input type="radio" name="greeting" id="En" value="En" v-model="form.greeting" />
            <label for="En">En</label><br>

            <label >Erikoisruokavalio:</label><br>
            <input v-model="form.food" placeholder="Erikoisruokavalio" /><br>

            <label >Juomapreferenssi:</label><br>

            <input type="radio" name="alcohol" id="Alkoholillinen" value="Alkoholillinen" v-model="form.alcohol" required />
            <label for="Alkoholillinen">Alkoholillinen</label>

            <input type="radio" name="alcohol" id="Alkoholiton" value="Alkoholiton" v-model="form.alcohol" />
            <label for="Alkoholiton">Alkoholiton</label><br>

            <input
            type="checkbox"
            id="bottle"
            v-model="form.bottle" />
            <label for="bottle" >Haluan pullon (slotti täydennä)</label><br>

            <input
            type="checkbox"
            id="history"
            v-model="form.history" />
            <label for="history" >Haluan historiikin (slotti täydennä)</label><br>

            <label ></label>Avec / Pöytätoive (avec ilmoittautuu erikseen):</label><br>
            <input v-model="form.tablewish" placeholder="Avec / Pöytätoive (avec ilmoittautuu erikseen)" /><br>

            <label >Vapaa sana:</label><br>
            <textarea v-model="form.free" placeholder="Vapaa sana"></textarea><br>

            <input
            type="checkbox"
            id="publish"
            v-model="form.checkbox" />
            <label for="publish">Nimeni saa julkaista ilmoittautuneissa</label><br>

            <button>Ilmoittaudu</button>
        </form>
    </div>

    <div v-cloak>
        <p>
            Ilmoittautuneet {{ registered.entries.length }}/{{ registered.capacity }}:
        </p>
        <ul>
            <li v-for="(item, index) in registered.entries">
                {{ item.name }} - {{ item.group }}
            </li>
        </ul>
    </div>

    <script type="module" src="./js/index.js"></script>
</body>

</html>