<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>#Xwag</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>

<body v-cloak>
<div id="numberlayer">
<div id="wrap">
    <div id="container">
        <img src="static/logo.png" class="logo">
        <h1>Akateemista Kyykkää vuodesta 2012</h1>
        <p>
            Tervetuloa juhlistamaan kanssamme #swagin menestyksekästä kymmenvuotista kyykkätaivalta vuosijuhlien merkeissä Teekkaritalolle lauantaina 5.11.2022. Juhla alkaa cocktailtilaisuudella klo 17:00 ja pääjuhla aloitetaan klo 18:00. Ilmoitattehan edustamanne tahon sekä halukkuutenne tuoda tervehdyksen. Illan mittaan myös sauna ja palju lämpenee.
        </p>
        <p>
Illalliskorttin hinta on 30€ per henkilö.
        </p>
        <p>
            Tapahtuman teema voi olla joillekin epämukava, joten huomioithan sen ilmoittautuessasi. Muistutamme kuitenkin että tapahtuma järjestetään #swagin <a target="_blank" href="/saannot">sääntöjen</a> ja arvojen mukaisesti ja pyrimme siihen että kaikilla osallistujilla on hauskaa eikä kenenkään tarvitsisi tuntea oloaan epämukavaksi. :D

        </p>


        <div v-if="formTimer.timestamp < formTimer.openTimestamp">
            <b>Ilmoittautuminen aukeaa 1.9.2022 klo 13:37</b>
        </div>
        <div v-else-if="formTimer.timestamp > formTimer.closeTimestamp">
            <b>Ilmoittautuminen on päättynyt</b>
        </div>
        <div v-else>
            <form @submit.prevent="send">
                <label>Nimi:</label><br>
                <input v-model="form.name" placeholder="Nimi" required/><br>
                <div class="divider"></div>
                <label>Sähköpostiosoite:</label><br>
                <input type="email" v-model="form.email" placeholder="Sähköpostiosoite" required/><br>
                <div class="divider"></div>

                <label>Edustava taho/joukkue:</label><br>
                <input v-model="form.group" placeholder="Edustava taho/joukkue" required/><br>
                <div class="divider"></div>

                <label>Haluatko tuoda tervehdyksen:</label><br>

                <input type="radio" name="greeting" id="Kyllä" value="Kyllä" v-model="form.greeting" required/>
                <label for="Kyllä">Kyllä</label>

                <input type="radio" name="greeting" id="En" value="En" v-model="form.greeting"/>
                <label for="En">En</label><br>
                <div class="divider"></div>

                <label>Erikoisruokavalio:</label><br>
                <input v-model="form.food" placeholder="Erikoisruokavalio"/><br>
                <div class="divider"></div>

                <label>Juomapreferenssi:</label><br>

                <input type="radio" name="alcohol" id="Alkoholillinen" value="Alkoholillinen" v-model="form.alcohol"
                       required/>
                <label for="Alkoholillinen">Alkoholillinen</label>

                <input type="radio" name="alcohol" id="Alkoholiton" value="Alkoholiton" v-model="form.alcohol"/>
                <label for="Alkoholiton">Alkoholiton</label><br>
                <div class="divider"></div>
                <label>Illalliskortin lisäksi:</label><br>
                <input
                        type="checkbox"
                        id="bottle"
                        v-model="form.bottle"/>
                <label for="bottle">Pöytäpullo 10.48 €</label><br>

                <input
                        type="checkbox"
                        id="history"
                        v-model="form.history"/>
                <label for="history">Historiikki 10.49 €</label><br>
                <div class="divider"></div>

                <label></label>Avec / Pöytätoive (avec ilmoittautuu erikseen):</label><br>
                <input v-model="form.tablewish" placeholder="Avec / Pöytätoive (avec ilmoittautuu erikseen)"/><br>
                <div class="divider"></div>

                <label>Vapaa sana:</label><br>
                <textarea v-model="form.free" placeholder="Vapaa sana"></textarea><br>
                <div class="divider"></div>

                <input
                        type="checkbox"
                        id="publish"
                        v-model="form.checkbox"/>
                <label for="publish">Nimeni saa julkaista ilmoittautuneissa</label><br>
                <div class="divider"></div>
                Ilmoittautumalla hyväksyt <a target="_blank" href="https://drive.google.com/file/d/1n9PIbevTSpisBvT61OF4up4so3iQIeDi/view?usp=sharing">tietosuojaselosteen</a>.
                <div class="divider"></div>
                <div v-if="registered.entries.length >= registered.capacity">
                    <button disabled>Ilmoittaudu</button>
                    Ilmo on täynnä
                </div>
                <div v-else>
                    <button>Ilmoittaudu</button>
                </div>
                <p v-for="error in errorMessages" style="color:red">
                    {{ error }}
                </p>
            </form>
        </div>

        <div v-cloak>
            <p>
                Ilmoittautuneet {{ registered.entries.length }}/{{ registered.capacity }}:
            </p>
            <ul>
                <li v-for="(item, index) in registered.entries">
                    {{ item.name }} - {{ item.group }}
                </li>
            </ul>
        </div>

        <script type="module" src="./js/index.js"></script>
    </div>
</div>
</div>
</body>

</html>